:root {
	--dark-color-a: #667aff;
	--dark-color-b: #7386ff;
	--light-color: #e6e9ff;
	--color: #d9534f;
	--color-grey-light-2: #f4f2f2;
	--color-grey-light-3: #f0eeee;
	--color-grey-light-4: #ccc;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Abel", sans-serif;
	font-size: 18px;
	background: #0f2027;
	background: -webkit-linear-gradient(to right, #2c5364, #203a43, #0f2027);
	background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
	margin: 20px;
}

.heading{
	padding:2px 2px 8px 3px;
	text-align: center;
	margin:2px;
	font-family: "Abel", sans-serif;
	font-size: 30px;
}
.button {
	display: inline-block;
	border-radius: 4px;
	background-color: #0f7c74; /* #3c8377;#36aea3; */
	border: none;
	color: #ffffff;
	text-align: center;
	font-size: 18px;
	padding: 15px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
	width: 150px;
}

.button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button span:after {
	content: "\00bb";  /*Arrow*/
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.button:hover span {
	padding-right: 25px;
}

.button:hover span:after {
	opacity: 1;
	right: 0;
}
.button:focus {
	outline: none;
}
.button:active {
	transform: translateY(4.5px); /*boxshadow dekhna add krke*/
}

.container {
	max-width: 570px;
	margin: 80px auto;
	color: black;
	margin-top: 150px;
}

.header {
	text-align: center;
	padding: 20px;
	background-color: #1b262c;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	color: white;
	font-family: "Economica", sans-serif;
	font-size:25px;
}

.main {
	padding: 30px 40px;
	background-color: #363538;
	color: black;
	font-weight: 400;
}

.main .form {
	margin-bottom: 20px;
}

.main label {
	display: block;
	margin-bottom: 13px;
	padding-bottom: 0.5rem;
	font-size: 22px;
	color: white;
}

.main input[type="text"] {
	font-size: 20px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.main .btn {
	margin-top: 20px;
	width: 100%;
	border: none;
}

/*Username input*/

#username {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background-color: var(--color-grey-light-2);
	border: none;
	padding: 0.7rem 2rem;
	width: 90%;
	transition: all 0.2s;
	border-radius: 2px;
}

#username:focus {
	outline: none;
	width: 100%;
	background-color: var(--color-grey-light-3);
}

/* #username::-webkit-input-placeholder {
	font-weight: 100;
	color: var(--color-grey-light-4);
} */

.modal {
	display: none; 
	position: fixed;
	z-index: 1;
	padding-top: 120px; 
	 left: 0px;
	
	top: 0px;
	width: 75%; 
	height: 100%; 
	 overflow: auto;  
	/* background-color: rgba(0,0,0,0.4); */
  }
  
  .modal-content {
	background-color: white;/*  #312f2f */;
	margin: auto auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
  }
  
  /* The Close Button */
.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
  } 